.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.testContainer{
    display: flex;
    position: absolute;
    border-radius: 1%;
    width: 100%;
    height: 100%;
    margin:auto;
}

#reading{
  background-image: url("./assets/images/Reading.jpg");
}
#listening{
  background-image: url("./assets/images/Listening.jpg");
}
#writing{
  background-image: url("./assets/images/Writing.jpg");
}

.test{
  border:solid rgb(20, 184, 196);
  border-radius: 1.4rem;
  width: 15%;
  height:25%;
  margin-top: 15%;
  margin-left: 13.5%;
  background-repeat: no-repeat;
  background-size: cover;
}

.test:hover{
  opacity: 0.5;
  border: solid green;
}

.test:focus{
  border:solid blue 5
}
.test>label{
  display: flex;
  margin: auto;
  justify-content: center;
  margin-bottom: 5%;
  
}
.test:focus{
  border:solid red;
}
.button{
    position: absolute;
    margin-top: 80vh;
    margin-left: 45%;
    width: 10%;
    border: solid white;
    letter-spacing: 1px;
    border: 1px solid black;
  
}

button>label{
  position: relative;
  z-index: 2;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.button::after {
    background-color: rgb(94, 94, 94);
    content: "";
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
  .button:hover::after {
    top: 0px;
    left: 0px;
    z-index: 1;
  }
  

